.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: auto;
    width: 100%;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.section-latest-news .row {
    flex-direction: column;
    max-width: 767px;
    margin: 0;
}

/* Grid
      ============================= */

ul.row {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

[class*='col-'] {
    margin: 0 0 3rem 0;
}

.col-1-3 {
    width: 100%;
}

.col-1-2 {
    width: 100%;
}


.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
}

.nav .nav-item+.nav-item {
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: none;
    padding: 0.5rem 0;
    position: relative;
}

.nav .nav-link:hover {
    color: var(--nav-item-link-hover);
    text-decoration: none;
}

.nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
}